<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
        <h1>You are viewing a question. Click <a href="/">this</a> to come back to the homepage</h1>
		<table>
			<tr>
				<th class="description">Question</th>
				{{#each title}}
					<td><h2>{{this.title}}</h2></td>
				{{/each}}
			</tr>
			<tr>
            	<th class="description">Description</th>
            	{{#each title}}
            		<td><h3>{{this.description}}</h3></td>
				{{/each}}
			</tr>
			{{#each title}}
				{{#if this.imagelink}}
				<tr>
					<th class="description">Image</th>
					<td>
						<a href="http://localhost:8080/questionimages/{{this.imagelink}}"><img src="http://localhost:8080/questionimages/{{this.imagelink}}" height="100" width="100"></a>
					</td>
				</tr>
				{{else}}
				{{/if}}
			{{/each}}
		</table><br>
		<table>
			<tr>
				<th colspan="5">Answers</th>
			</tr>
			<tr>
				<th>User</th>
				<th>Comment</th>
				<th>Is correct</th>
			</tr>
			{{#each commentsfromdatabase}}
				<tr>
					<td>{{this.addedbyuserid}}</td>
					<td>{{this.content}}</td>
					{{#if this.iscorrect}}
						<td>Correct</td>
					{{else}}
						<td>Not correct</td>
					{{/if}}
				</tr>
			{{/each}}
		</table>
	</body>
</html>