<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
            <h1>The question is</h1>
            {{#each title}}
			    <h2>{{this.title}}</h2>
            {{/each}}
            <h3>The description is</h3>
            {{#each title}}
            <h4>{{this.description}}</h4>
			<a href="http://localhost:8080/questionimages/{{this.imagelink}}"><img src="http://localhost:8080/questionimages/{{this.imagelink}}" height="100" width="100"></a>
			{{/each}}
		</header>
		<p>The answers</p>
		<ul>
			{{#each commentsfromdatabase}}
				{{#if this.iscorrect}}
					<li>{{this.content}} -------- correct answer</li>
				{{else}}
					<li>{{this.content}}</li>
				{{/if}}
			{{/each}}
		</ul>
	</body>
</html>