<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
            <h1>The question is</h1>
            {{#each title}}
			    <h2>{{this.title}}</h2>
            {{/each}}
            	<h3>The description is</h3>
            {{#each title}}
            	<h4>{{this.description}}</h4>
				{{#if this.imagelink}}
					<a href="http://localhost:8080/questionimages/{{this.imagelink}}"><img src="http://localhost:8080/questionimages/{{this.imagelink}}" height="100" width="100"></a>
				{{else}}
				{{/if}}
			{{/each}}
		</header>
		<p>The answers</p>
		<ul>
			{{#each commentsfromdatabase}}
				{{#if this.iscorrect}}
					<li>
						{{this.content}} -------- correct answer
						<form action="/updateCommentIsCorrect?comment={{this.id}}&addedbyuser={{this.addedbyuserid}}&questionsid={{this.questionsid}}" method="post">
						<p><input type="submit" value="Tag as correct"></p>
						</form>
					</li>
				{{else}}
					<li>
						{{this.content}}
						<form action="/updateCommentIsCorrect?comment={{this.id}}&addedbyuser={{this.addedbyuserid}}&questionsid={{this.questionsid}}" method="post">
						<p><input type="submit" value="Tag as correct"></p>
						</form>
					</li>
				{{/if}}
				<form action="/addRate?questionsid={{this.questionsid}}&commentsid={{this.id}}&addedbyuser={{this.addedbyuserid}}" method="post">
					<p>Rate:<br /><input type="text" name="rate" placeholder="your rate" value="" autofocus></p>
					<p><input type="submit" value="Add rate"></p>
				</form>
			{{/each}}
		</ul>
        <p>Add comments here</p>
        <form action="/addComment?msg={{#each title}}{{this.id}}{{/each}}" method="post">
			<p>Content<br /><input type="text" name="content" placeholder="Your comment goes here" value=""></p>
			<p><input type="submit" value="Add comment"></p>
		</form>
	</body>
</html>